In [1]:
# Install PySpark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
# Import PySpark module
import pyspark

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark").getOrCreate()

In [4]:
# Read CSV file without specifying header
df = spark.read.csv("/content/College_Students.csv")
df.show()

+----------+--------------+-----------------+--------+--------------+---------+------+---+---------+---------------+-----------+-----------------+
|       _c0|           _c1|              _c2|     _c3|           _c4|      _c5|   _c6|_c7|      _c8|            _c9|       _c10|             _c11|
+----------+--------------+-----------------+--------+--------------+---------+------+---+---------+---------------+-----------+-----------------+
|Student_ID|          Name|           Course|Semester|Attendance (%)|Marks (%)|Gender|Age|     City|Hostel Resident|Club Member|Internship Status|
|      S001|   Aditi Verma|B.Sc Data Science|       2|            92|       85|  Male| 20|   Mumbai|            Yes|         No|        Completed|
|      S002|   Rahul Mehta|            B.Com|       4|            78|       73|  Male| 24|  Kolkata|             No|        Yes|      Not Started|
|      S003|   Sneha Gupta|       B.Tech CSE|       6|            88|       81|Female| 24|   Jaipur|             No|        Yes|        Completed|
|      S004|    Aman Singh|              BBA|       2|            65|       62|  Male| 21|Hyderabad|             No|         No|        Completed|
|      S005|    Priya Nair|       B.Sc Maths|       1|            96|       91|Female| 19|    Delhi|             No|         No|          Ongoing|
|      S006|    Mohit Rana|              BCA|       3|            84|       76|  Male| 24|Bangalore|             No|        Yes|        Completed|
|      S007|   Simran Kaur|        B.Tech IT|       5|            73|       70|  Male| 20|Bangalore|             No|         No|        Completed|
|      S008|   Kunal Joshi|     B.Sc Physics|       2|            90|       88|  Male| 20|Bangalore|             No|         No|      Not Started|
|      S009|  Tanya Sharma|            B.Com|       4|            81|       79|  Male| 24|  Kolkata|            Yes|         No|      Not Started|
|      S010|     Arjun Rao|              BBA|       1|            77|       69|Female| 22|    Delhi|             No|        Yes|        Completed|
|      S011|      Riya Das|       B.Tech CSE|       6|            89|       87|Female| 18|  Kolkata|             No|        Yes|      Not Started|
|      S012|  Deepak Yadav|   B.Sc Chemistry|       2|            74|       68|  Male| 18|  Chennai|             No|         No|          Ongoing|
|      S013|   Neha Thakur|B.Sc Data Science|       3|            91|       83|  Male| 21|   Mumbai|            Yes|         No|          Ongoing|
|      S014|Kabir Malhotra|            B.Com|       5|            68|       65|Female| 24|  Chennai|             No|        Yes|        Completed|
|      S015|   Isha Kapoor|              BBA|       2|            85|       72|  Male| 20|  Chennai|            Yes|        Yes|        Completed|
|      S016|   Aditya Jain|        B.Tech IT|       6|            93|       89|  Male| 22|  Kolkata|            Yes|        Yes|      Not Started|
|      S017|   Sakshi Rane|              BCA|       3|            86|       78|  Male| 20|    Delhi|            Yes|         No|        Completed|
|      S018|   Varun Patel|       B.Sc Maths|       1|            82|       75|Female| 21|   Jaipur|            Yes|        Yes|        Completed|
|      S019|    Meera Iyer|     B.Sc Physics|       2|            94|       90|Female| 21|   Mumbai|             No|         No|          Ongoing|
+----------+--------------+-----------------+--------+--------------+---------+------+---+---------+---------------+-----------+-----------------+
only showing top 20 rows

In [5]:
# Read CSV with header option set to True
df = spark.read.option("header", True).csv("/content/College_Students.csv")
df.show()

+----------+--------------+-----------------+--------+--------------+---------+------+---+---------+---------------+-----------+-----------------+
|Student_ID|          Name|           Course|Semester|Attendance (%)|Marks (%)|Gender|Age|     City|Hostel Resident|Club Member|Internship Status|
+----------+--------------+-----------------+--------+--------------+---------+------+---+---------+---------------+-----------+-----------------+
|      S001|   Aditi Verma|B.Sc Data Science|       2|            92|       85|  Male| 20|   Mumbai|            Yes|         No|        Completed|
|      S002|   Rahul Mehta|            B.Com|       4|            78|       73|  Male| 24|  Kolkata|             No|        Yes|      Not Started|
|      S003|   Sneha Gupta|       B.Tech CSE|       6|            88|       81|Female| 24|   Jaipur|             No|        Yes|        Completed|
|      S004|    Aman Singh|              BBA|       2|            65|       62|  Male| 21|Hyderabad|             No|         No|        Completed|
|      S005|    Priya Nair|       B.Sc Maths|       1|            96|       91|Female| 19|    Delhi|             No|         No|          Ongoing|
|      S006|    Mohit Rana|              BCA|       3|            84|       76|  Male| 24|Bangalore|             No|        Yes|        Completed|
|      S007|   Simran Kaur|        B.Tech IT|       5|            73|       70|  Male| 20|Bangalore|             No|         No|        Completed|
|      S008|   Kunal Joshi|     B.Sc Physics|       2|            90|       88|  Male| 20|Bangalore|             No|         No|      Not Started|
|      S009|  Tanya Sharma|            B.Com|       4|            81|       79|  Male| 24|  Kolkata|            Yes|         No|      Not Started|
|      S010|     Arjun Rao|              BBA|       1|            77|       69|Female| 22|    Delhi|             No|        Yes|        Completed|
|      S011|      Riya Das|       B.Tech CSE|       6|            89|       87|Female| 18|  Kolkata|             No|        Yes|      Not Started|
|      S012|  Deepak Yadav|   B.Sc Chemistry|       2|            74|       68|  Male| 18|  Chennai|             No|         No|          Ongoing|
|      S013|   Neha Thakur|B.Sc Data Science|       3|            91|       83|  Male| 21|   Mumbai|            Yes|         No|          Ongoing|
|      S014|Kabir Malhotra|            B.Com|       5|            68|       65|Female| 24|  Chennai|             No|        Yes|        Completed|
|      S015|   Isha Kapoor|              BBA|       2|            85|       72|  Male| 20|  Chennai|            Yes|        Yes|        Completed|
|      S016|   Aditya Jain|        B.Tech IT|       6|            93|       89|  Male| 22|  Kolkata|            Yes|        Yes|      Not Started|
|      S017|   Sakshi Rane|              BCA|       3|            86|       78|  Male| 20|    Delhi|            Yes|         No|        Completed|
|      S018|   Varun Patel|       B.Sc Maths|       1|            82|       75|Female| 21|   Jaipur|            Yes|        Yes|        Completed|
|      S019|    Meera Iyer|     B.Sc Physics|       2|            94|       90|Female| 21|   Mumbai|             No|         No|          Ongoing|
|      S020|    Nikhil Roy|       B.Tech CSE|       6|            70|       67|Female| 23|Hyderabad|             No|         No|      Not Started|
+----------+--------------+-----------------+--------+--------------+---------+------+---+---------+---------------+-----------+-----------------+

In [6]:
# Check column data types (they are still all strings without schema inference)
df.printSchema()

root
 |-- Student_ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Course: string (nullable = true)
 |-- Semester: string (nullable = true)
 |-- Attendance (%): string (nullable = true)
 |-- Marks (%): string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Hostel Resident: string (nullable = true)
 |-- Club Member: string (nullable = true)
 |-- Internship Status: string (nullable = true)

In [7]:
# Read CSV with both header and schema inference
df = spark.read.option("header", True).option("inferschema", True).csv("/content/College_Students.csv")
df.printSchema()

root
 |-- Student_ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Course: string (nullable = true)
 |-- Semester: integer (nullable = true)
 |-- Attendance (%): integer (nullable = true)
 |-- Marks (%): integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Hostel Resident: string (nullable = true)
 |-- Club Member: string (nullable = true)
 |-- Internship Status: string (nullable = true)

In [8]:
# Show statistical summary (count, mean, stddev, min, max)
df.describe().show()

+-------+----------+-----------+------+------------------+-----------------+-----------------+------+------------------+---------+---------------+-----------+-----------------+
|summary|Student_ID|       Name|Course|          Semester|   Attendance (%)|        Marks (%)|Gender|               Age|     City|Hostel Resident|Club Member|Internship Status|
+-------+----------+-----------+------+------------------+-----------------+-----------------+------+------------------+---------+---------------+-----------+-----------------+
|  count|        20|         20|    20|                20|               20|               20|    20|                20|       20|             20|         20|               20|
|   mean|      NULL|       NULL|  NULL|               3.3|             82.8|             77.4|  NULL|              21.3|     NULL|           NULL|       NULL|             NULL|
| stddev|      NULL|       NULL|  NULL|1.8093325317714033|9.242920477174321|9.051897155031268|  NULL|2.0026298499197184|     NULL|           NULL|       NULL|             NULL|
|    min|      S001|Aditi Verma| B.Com|                 1|               65|               62|Female|                18|Bangalore|             No|         No|        Completed|
|    max|      S020|Varun Patel|   BCA|                 6|               96|               91|  Male|                24|   Mumbai|            Yes|        Yes|          Ongoing|
+-------+----------+-----------+------+------------------+-----------------+-----------------+------+------------------+---------+---------------+-----------+-----------------+

In [9]:
# More detailed summary statistics
df.summary().show()

+-------+----------+-----------+------+------------------+-----------------+-----------------+------+------------------+---------+---------------+-----------+-----------------+
|summary|Student_ID|       Name|Course|          Semester|   Attendance (%)|        Marks (%)|Gender|               Age|     City|Hostel Resident|Club Member|Internship Status|
+-------+----------+-----------+------+------------------+-----------------+-----------------+------+------------------+---------+---------------+-----------+-----------------+
|  count|        20|         20|    20|                20|               20|               20|    20|                20|       20|             20|         20|               20|
|   mean|      NULL|       NULL|  NULL|               3.3|             82.8|             77.4|  NULL|              21.3|     NULL|           NULL|       NULL|             NULL|
| stddev|      NULL|       NULL|  NULL|1.8093325317714033|9.242920477174321|9.051897155031268|  NULL|2.0026298499197184|     NULL|           NULL|       NULL|             NULL|
|    min|      S001|Aditi Verma| B.Com|                 1|               65|               62|Female|                18|Bangalore|             No|         No|        Completed|
|    25%|      NULL|       NULL|  NULL|                 2|               74|               69|  NULL|                20|     NULL|           NULL|       NULL|             NULL|
|    50%|      NULL|       NULL|  NULL|                 3|               84|               76|  NULL|                21|     NULL|           NULL|       NULL|             NULL|
|    75%|      NULL|       NULL|  NULL|                 5|               90|               85|  NULL|                23|     NULL|           NULL|       NULL|             NULL|
|    max|      S020|Varun Patel|   BCA|                 6|               96|               91|  Male|                24|   Mumbai|            Yes|        Yes|          Ongoing|
+-------+----------+-----------+------+------------------+-----------------+-----------------+------+------------------+---------+---------------+-----------+-----------------+